@import url('./reset.css');

body {
	background-color: #faf5f5;
}

.layout {
	display: flex;
	min-height: 100vh;
	margin: 0 3px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type='number'] {
	-moz-appearance: textfield;
}
